@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

img,
svg {
  max-width: 100%;
}

body {
  font-family: Inter, sans-serif;
}

.MuiButton-root .MuiCircularProgress-root {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.MuiButton-root .MuiSvgIcon-root {
  display: block;
}

.sketch-picker {
  box-shadow: none !important;
}

.fullHeightWidth {
  width: 100%;
  height: 100%;
}

.fullMinHeight {
  min-height: 100%;
}

.draft-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  min-height: 200px;
}

.draft-wrapper .public-DraftStyleDefault-block {
  padding: 0 10px;
}

.draft-wrapper .public-DraftEditor-content ul,
.draft-wrapper .public-DraftEditor-content ol {
  padding-left: 10px;
}

.draft-wrapper .rdw-dropdown-optionwrapper {
  max-height: 150px;
  overflow: auto;
}

.header-account-button,
.header-account-button div {
  color: white;
  letter-spacing: 2px;
}

.big-add-button {
  height: 250px;
  width: 100%;
}

.media-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.media-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.media-image .media-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in-out;
}

.media-image:hover .media-overlay {
  top: 0;
  z-index: 99;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
  min-width: 160px;
}

.show-more {
  color: #0056B1;
  cursor: pointer;
}

.list-item-text {
  color: #4A4B68;
}

.list-item-text>span {
  font-weight: 600 !important;
}

.overflow-visible {
  overflow: visible !important;
}

.table-overflow {
  overflow-x: auto;
}

.table-header .MuiTableHead-root {
  background-color: #F3F4F6 !important;
}

.RoleMultiSelectorStyles>div>div {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  padding: 10px 5px;
}

.RoleMultiSelectorStyles>div>div>div {
  height: 40px;
  overflow-y: auto;
}

.RoleMultiSelectorStyles>div>div+div {
  background-color: #fff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  z-index: 23;
  margin: 0;
}

.RoleMultiSelectorStyles>div>div+div>div {
  height: auto !important;
}

.customHeaderBadge .MuiBadge-badge {
  background: #fff;
  color: #000;
}

.overflow-visible {
  overflow: initial !important;
}

.capitalize-text {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: lowercase;
}

.textTransform-capitalize {
  text-transform: capitalize;
}

.padding-left {
  padding-left: 0px;
}

.pointer-cursor {
  cursor: pointer !important;
}

.active {
  color: #204ECF;
}

.listing-header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.overflowY-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.MuiPopover-paper {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05) !important;
  border-radius: 6px !important;
  border: 1px solid #E4E6EF;
}

.MuiPopover-paper.user-setting-menu {
  margin: -40px 0 0 18px;
  width: 240px;
  left: 40px !important;
}

.custom-calendar .MuiPickersStaticWrapper-staticWrapperRoot {
  margin-top: -10px;
}

.custom-calendar .MuiPickersBasePicker-pickerView {
  min-height: 330px;
  justify-content: flex-start;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-switchHeader .MuiPickersCalendarHeader-iconButton {
  padding: 5px;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-switchHeader .MuiPickersSlideTransition-transitionContainer>p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-daysHeader .MuiPickersCalendarHeader-dayLabel {
  font-size: 14px;
  width: 42px;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-day {
  height: 42px;
  width: 42px;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-daySelected {
  background-color: #204ECF;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-day .MuiIconButton-label>p {
  font-size: 15px;
  color: #666666;
  font-weight: 500;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-current .MuiIconButton-label>p {
  color: #204ECF;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-daySelected .MuiIconButton-label>p {
  color: #fff;
}

body .MuiTabPanel-root {
  padding: 20px 0 0 0;
}

.tab-panel {
  padding-top: 0 !important;
}

.react-tel-input {
  font-family: "Inter, sans-serif";
  font-size: 14px;
  border: 1px solid #EEF6FF;
}

.react-tel-input:hover {
  border: 1px solid #1C6DD0;
}

.react-tel-input .form-control {
  width: 100%;
  background-color: #F3F4F6;
  border: none;
  height: 48px;
  color: currentColor;
}

.react-tel-input .flag-dropdown {
  border-color: #F3F4F6;
}

.MuiCheckbox-colorPrimary.Mui-checked,
.MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
  color: #204ECF;
}

.MuiCheckbox-root.Mui-checked .MuiIconButton-label:before {
  display: none;
}

.subHeading {
  color: #B5B5C3;
  font-size: 20px;
  font-weight: 500;
  max-width: 532px;
  padding-bottom: 26px;
}

.billing-box {
  color: #204ECF;
  cursor: pointer;
}

.remove-box {
  color: #DD1010;
  cursor: pointer;
}

.billing-box .MuiTypography-root {
  padding-left: 5px;
}

.danger {
  color: #DD1010;
}

.pt-0 {
  padding-top: 0 !important;
}

.btnDanger {
  color: #ffffff !important;
  background-color: #DD1010 !important;
}

.logo-container {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.button-link {
  background-color: #1DC894;
  text-transform: uppercase;
  padding: 9px 20px;
  box-shadow: none;
  max-height: 42px;
  border-radius: 6px;
}

.button-link a {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 600;
}

.permissionDenied:hover {
  cursor: not-allowed;
}

/* Signature-pad-Styling */
.signCanvas {
  width: 100%;
  height: 150px;
}

/* Drop-in-Payment-Styling */
.zoid-outlet {
  width: 100% !important;
}

.braintree-option {
  min-height: 80px !important;
}

.braintree-option,
.braintree-sheet,
.braintree-sheet__header,
.braintree-upper-container:before {
  border: none !important;
  background-color: #ffffff !important;
}

.braintree-options-list {
  background-color: #f3f4f6 !important;
}

.braintree-option:first-child,
.braintree-sheet__container,
.braintree-large-button {
  margin-bottom: 2rem;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
  border: none !important;
  background-color: #f3f4f6 !important;
}

.braintree-sheet__header .braintree-sheet__header-label {
  padding-bottom: 10px;
}

.facilityActive {
  background-color: #0056B1 !important;
}

/* ACCORDION-STYLING */
.accordionCustomize {
  box-shadow: none !important;
}

.accordionCustomize .MuiAccordionSummary-content.Mui-expanded .MuiTypography-root {
  color: #000000;
  font-weight: 600;
}

.accordionCustomize .Mui-expanded {
  border-bottom: none !important;
}

/* Tabs Styling */
.filledTabs {
  border: 1px solid #EFF2F5;
  border-radius: 6px;
  padding: 12px 10px 0 10px;
}

.filledTabs .MuiTab-root.Mui-selected {
  background: #A1A5B7;
  border-radius: 6px;
  border: none;
  color: #ffffff;
}

/* toggle-styling */
.toggleMain {
  width: 205px !important;
}

.toggleMain .MuiSwitch-thumb {
  width: 100px !important;
}

.selectBox {
  color: #B5B5C3;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.selectedBox {
  background-color: #B5B5C3;
  color: #ffffff;
}

.multiline-input {
  max-height: 200px;
  overflow-y: auto;
}

/* custom-scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E0E0E0;
}

.selectedBoxBlue {
  background-color: #204ECF;
  color: #ffffff;
}

.dialogBg {
  background-color: #ffffff !important;
  border: none !important;
  padding: 0 !important;
}

.dialogBg .MuiTypography-body1 {
  font-size: 15px !important;
}

.schedulerTableCell {
  border: 1px solid #E4E6EF !important;
  /* width: 200px !important; */
  height: 200px !important;
}

.selectorClass .MuiSvgIcon-root path {
  display: none !important;
}

.selectorClass .MuiSvgIcon-root {
  background-image: url(../assets/images/chevron-down.svg) !important;
  background-size: auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.input-dollar-class .MuiInputBase-input {
  background-image: url(../assets/images/dollar-sign.svg) !important;
  background-size: auto !important;
  background-position: right   center !important;
  padding-right: 25px;
  background-repeat: no-repeat !important;
}

.custom-num-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.custom-num-input input[type=number] {
  -moz-appearance: textfield;
}

.selectorClassTwo {
  border: 1px solid #F3F4F6 !important;
  background-color: #F3F4F6 !important;
  border-radius: 4px !important;
  max-width: 330px !important;
}

.selectorClassTwoError {
  border: 1px solid red !important;
  background-color: #F3F4F6 !important;
  border-radius: 4px !important;
  max-width: 330px !important;
}


.selectorClassTwo>div:first-of-type {
  border: 1px solid #F3F4F6 !important;
  background-color: #F3F4F6 !important;
  border-radius: 4px !important;
  min-height: 48px !important;
}

.selectorClassTwo svg,
.selectorClassTwo span {
  color: #202020 !important;
}

.diagnosesSelectorClass {
  min-width: 100% !important;
}

.hoverClass {
  padding: 5px 10px !important;
  border-radius: 4px !important;
}

.hoverClass:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.advancedSearch {
  max-width: 200px !important;
  padding: 0 10px !important;
  border: 1px solid #D1D5DB !important;
  box-shadow: none !important;
  border-radius: 4px;
  font-size: 14px;
  color: #202020;
  margin-bottom: 10px !important;
}

/* Dashboard-charts-styling */
.chartContainer>div>div {
  height: 300px !important;
}

.chartContainer svg {
  height: 320px !important;
  transform: scale(1.25) !important;
}

.pieChart2Container>div>div {
  height: 200px !important;
}

.pieChart2Container svg {
  height: 320px !important;
  transform: scale(1.2) !important;
}

.chartContainerSmall>div>div {
  height: 180px !important;
  overflow: hidden !important;
}

.chartContainerSmall svg {
  height: 160px !important;
  transform: scale(3) !important;
}

.practice-bar-chart-container text,
.barChart3Container text,
.practice-users-chart-container text,
.practice-users-roles-container text {
  color: #ffffff !important;
  fill: #ffffff !important;
}

.practice-bar-chart-container .highcharts-color-0,
.barChart2Container .highcharts-color-0,
.barChart3Container .highcharts-color-0,
.practice-bar-chart-container .highcharts-legend-item,
.barChart2Container .highcharts-legend-item,
.barChart3Container .highcharts-legend-item {
  display: none !important;
}

.practice-bar-chart-container .highcharts-axis-labels text,
.barChart2Container .highcharts-axis-labels text,
.barChart3Container .highcharts-axis-labels text,
.practice-users-chart-container .highcharts-axis-labels text,
.practice-users-roles-container .highcharts-axis-labels text,
.barChart6Container .highcharts-axis-labels text {
  font-weight: 600 !important;
}

.practice-users-chart-container .highcharts-grid-line,
.practice-users-roles-container .highcharts-grid-line {
  display: none !important;
}

.practice-users-chart-container .highcharts-axis,
.practice-users-roles-container .highcharts-axis,
.practice-bar-chart-container .highcharts-axis {
  display: none !important;
}

.pieChart2Container text {
  color: #acacac !important;
  fill: #acacac !important;
}

.recent-activity-timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.recent-activity-timeline p {
  color: #7E8299;
}

.recent-activity-timeline .MuiTimelineDot-root {
  border-width: 4px;
}

.recent-activity-timeline .MuiTimelineConnector-root {
  background: #E5EAEE;
}

.overflowVisible {
  overflow: visible !important;
}

.media-inner-image {
  padding: 0px !important;
}

.media-inner-image>img {
  height: 150px !important;
}

.whiteColor {
  color: #ffffff !important;
}

.topMargin {
  top: -24px !important;
}

.highcharts-container {
  width: auto !important;
}

.card-chart {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(56, 71, 109, 0.09);
  border-radius: 8px;
  position: relative;
}

.areaBloodPressureChart .highcharts-container {
  transform: translate(-60px, 221px) scale(1.5) !important;
}

.areaChartContainer>div>div {
  height: 300px !important;
}

.areaChartContainer svg {
  height: 230px !important;
  transform: scale(1.5) !important;
}

.bloodPressure-measurement {
  position: absolute;
  left: 30px;
  top: 135px;
  color: #CA6B6E;
  z-index: 1;
}

.bloodPressure-measurement .measure-unit {
  font-size: 14px;
  color: #464E5F;
}

.heartRate-measurement {
  position: absolute;
  left: 30px;
  top: 135px;
  color: #1BC5BD;
  z-index: 1;
}

.heartRate-measurement .measure-unit {
  font-size: 14px;
  color: #464E5F;
  margin-left: 10px;
}

.measure-frequency {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #ffff;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.primary {
  background-color: #03CC83;
}

.danger-bg {
  background-color: #DD1010;
}

.card-box-shadow {
  box-shadow: 0px 4px 30px rgba(56, 71, 109, 0.09) !important;
  border-radius: 8px !important;
}

.patient-information-form .MuiInputLabel-formControl {
  position: relative;
}

.MuiDropzoneSnackbar-message {
  word-break: break-word;
}

.word-break {
  word-break: break-all;
}

.mt-10px {
  margin-top: -10px;
}

/* masonry-css */
.masonry-container {
  -moz-column-count: 2;
  -moz-column-gap: 1.5%;
  -moz-column-width: 48%;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5%;
  -webkit-column-width: 48%;
  column-count: 2;
  column-gap: 1.5%;
  column-width: 48%;
}

.masonry-box {
  margin-bottom: 30px;
  break-inside: avoid;
}

.appointment-view-list .MuiTable-root tbody tr td:first-child {
  max-width: 200px;
}

.appointment-view-list .MuiTable-root tbody tr .custom-cell {
  padding: 0 0 5px 0;
}

.appointment-view-list .MuiTable-root tbody tr .custom-cell {
  padding: 14px 11px 14px 30px;
}

.card-box {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.card-overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(62, 62, 62, 0.7);
}

.card-overlay .del-icon,
.card-overlay .del-icon:hover {
  background-color: white;
}

.card-box:hover .card-overlay {
  top: 0;
}

.card-img {
  max-width: 100%;
  height: 100%;
  max-height: 280px;
  overflow: hidden;
}

.card-img>img {
  object-fit: contain;
  height: 100%;
}

.py-0 {
  padding: 0 !important;
  padding-bottom: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.vitals-column .MuiTypography-h5 {
  line-height: 1.43 !important;
}

.copay-type-value {
  position: relative;
}

.copay-type-value .MuiInputBase-input {
  appearance: none;
  padding-right: 25px;
}

.copay-type-value .MuiInputBase-input::-webkit-outer-spin-button,
.copay-type-value .MuiInputBase-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.copay-type-value .MuiTypography-h3 {
  position: absolute;
  top: 29px;
  right: 12px;
}

.disable-icon {
  opacity: 0.3;
  pointer-events: none;
}

.MuiSkeleton-text {
  height: 30px !important;
}

.skelton-label-margin {
  margin-top: -8px;
  margin-bottom: 12px;
}

.skelton-input {
  margin-bottom: 8px;
  padding-bottom: 16px;
}

/* media queries */
@media(max-width : 768px) {
  .facility-registration-form {
    flex-direction: column;
  }

  .facility-registration-form .facility-menu-navbar {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .patient-add-form .MuiInputLabel-formControl {
    position: relative;
    top: 0;
    margin-bottom: 0.875rem;
  }
}