@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

img,
svg {
  max-width: 100%;
}

body {
  font-family: Inter, sans-serif;
}

.MuiButton-root .MuiCircularProgress-root {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.MuiButton-root .MuiSvgIcon-root {
  display: block;
}

.sketch-picker {
  box-shadow: none !important;
}

.fullHeightWidth {
  width: 100%;
  height: 100%;
}

.draft-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  min-height: 200px;
}

.draft-wrapper .public-DraftStyleDefault-block {
  padding: 0 10px;
}

.draft-wrapper .public-DraftEditor-content ul,
.draft-wrapper .public-DraftEditor-content ol {
  padding-left: 10px;
}

.draft-wrapper .rdw-dropdown-optionwrapper {
  max-height: 150px;
  overflow: auto;
}

.header-account-button,
.header-account-button div {
  color: white;
  letter-spacing: 2px;
}

.big-add-button {
  height: 250px;
  width: 100%;
}

.media-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.media-image img {
  height: 80%;
  object-fit: cover;
  border-radius: 6px;
}

.media-image .media-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in-out;
}

.media-image:hover .media-overlay {
  top: 0;
  z-index: 99;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
  min-width: 160px;
}

.show-more {
  color: #0056B1;
  cursor: pointer;
}

.list-item-text {
  color: #4A4B68;
}

.list-item-text>span {
  font-weight: 600 !important;
}

.overflow-visible {
  overflow: visible !important;
}

.table-overflow {
  overflow-x: auto;
}

.RoleMultiSelectorStyles>div>div {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  padding: 10px 5px;
}

.RoleMultiSelectorStyles>div>div>div {
  height: 40px;
  overflow-y: auto;
}

.RoleMultiSelectorStyles>div>div+div {
  background-color: #fff;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  z-index: 23;
  margin: 0;
}

.RoleMultiSelectorStyles>div>div+div>div {
  height: auto !important;
}

.customHeaderBadge .MuiBadge-badge {
  background: #fff;
  color: #000;
}

.overflow-visible {
  overflow: initial !important;
}

.capitalize-text {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: lowercase;
}

.textTransform-capitalize {
  text-transform: capitalize;
}

.padding-left {
  padding-left: 0px;
}

.pointer-cursor {
  cursor: pointer;
}

.active {
  color: #204ECF;
}

.listing-header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.overflowY-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.MuiPopover-paper {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05) !important;
  border-radius: 6px !important;
  border: 1px solid #E4E6EF;
}

.MuiPopover-paper.user-setting-menu {
  margin: -40px 0 0 18px;
  width: 240px;
  left: 40px !important;
}

.custom-calendar .MuiPickersStaticWrapper-staticWrapperRoot {
  margin-top: -10px;
}

.custom-calendar .MuiPickersBasePicker-pickerView {
  min-height: 330px;
  justify-content: flex-start;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-switchHeader .MuiPickersCalendarHeader-iconButton {
  padding: 5px;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-switchHeader .MuiPickersSlideTransition-transitionContainer>p {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.MuiPickersBasePicker-pickerView .MuiPickersCalendarHeader-daysHeader .MuiPickersCalendarHeader-dayLabel {
  font-size: 14px;
  width: 42px;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-day {
  height: 42px;
  width: 42px;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-daySelected {
  background-color: #204ECF;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-day .MuiIconButton-label>p {
  font-size: 15px;
  color: #666666;
  font-weight: 500;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-current .MuiIconButton-label>p {
  color: #204ECF;
}

.MuiPickersBasePicker-pickerView .MuiPickersSlideTransition-transitionContainer .MuiPickersDay-daySelected .MuiIconButton-label>p {
  color: #fff;
}

body .MuiTabPanel-root {
  padding: 20px 0 0 0;
}

.react-tel-input {
  font-family: "Inter, sans-serif";
  font-size: 14px;
  border: 1px solid #EEF6FF;
}

.react-tel-input:hover {
  border: 1px solid #1C6DD0;
}

.react-tel-input .form-control {
  width: 100%;
  background-color: #F3F4F6;
  border: none;
  height: 48px;
  color: currentColor;
}

.react-tel-input .flag-dropdown {
  border-color: #F3F4F6;
}

.MuiCheckbox-colorPrimary.Mui-checked,
.MuiCheckbox-root.Mui-checked .MuiSvgIcon-root {
  color: #204ECF;
}

.MuiCheckbox-root.Mui-checked .MuiIconButton-label:before {
  display: none;
}

.subHeading {
  color: #B5B5C3;
  font-size: 20px;
  font-weight: 500;
  max-width: 532px;
  padding-bottom: 26px;
}

.billing-box {
  color: #204ECF;
  cursor: pointer;
}

.billing-box .MuiTypography-root {
  padding-left: 5px;
}

.danger {
  color: #DD1010;
}

.btnDanger {
  color: #ffffff !important;
  background-color: #DD1010 !important;
}

.logo-container {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 160px;
  height: 160px;
  object-fit: contain;
  overflow: hidden;
  padding: 10px;
}

.button-link {
  background-color: #1DC894;
  text-transform: uppercase;
  padding: 9px 20px;
  box-shadow: none;
  max-height: 42px;
  border-radius: 6px;
}

.button-link a {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 600;
}

.permissionDenied:hover {
  cursor: not-allowed;
}

/* Signature-pad-Styling */
.sigCanvas {
  width: 100%;
  height: 150px;
}

/* Drop-in-Payment-Styling */
.zoid-outlet {
  width: 100% !important;
}

.braintree-option {
  min-height: 80px !important;
}

.braintree-option,
.braintree-sheet,
.braintree-sheet__header,
.braintree-upper-container:before {
  border: none !important;
  background-color: #ffffff !important;
}

.braintree-options-list {
  background-color: #f3f4f6 !important;
}

.braintree-option:first-child,
.braintree-sheet__container,
.braintree-large-button {
  margin-bottom: 2rem;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
  border: none !important;
  background-color: #f3f4f6 !important;
}

.facilityActive {
  background-color: #0056B1 !important;
}

/* ACCORDION-STYLING */

.accordionCustomize {
  box-shadow: none !important;
}

.accordionCustomize .MuiAccordionSummary-content.Mui-expanded .MuiTypography-root {
  color: #000000;
  font-weight: 600;
}

.accordionCustomize .Mui-expanded {
  border-bottom: none !important;
}

/* Tabs Styling */

.filledTabs {
  border: 1px solid #EFF2F5;
  border-radius: 6px;
  padding: 12px 10px 0 10px;
}

.filledTabs .MuiTab-root.Mui-selected {
  background: #A1A5B7;
  border-radius: 6px;
  border: none;
  color: #ffffff;
}

/* toggle-styling */
.toggleMain {
  width: 205px !important;
}

.toggleMain .MuiSwitch-thumb {
  width: 100px !important;
}

.selectBox {
  color: #B5B5C3;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.dialogBg {
  background-color: #ffffff !important;
  border: none !important;
}

.schedulerTableCell {
  border: 1px solid #E4E6EF !important;
  width: 200px !important;
  height: 200px !important;
}

.selectorClass .MuiSvgIcon-root {
  color: #202020 !important;
}